@charset "utf-8";
/* animation kits  */

@keyframes scroll {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 40px;
  }
}

.ani.y_Bottom {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease-in-out;
}

.ani.y_Bottom.moving {
  opacity: 1;
  transform: translateY(0);
}
.ani.x_Left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s ease-in-out;
}

.ani.x_Left.moving {
  opacity: 1;
  transform: translateX(0);
}
.ani.x_Right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 1s ease-in-out;
}

.ani.x_Right.moving {
  opacity: 1;
  transform: translateX(0);
}

.ani.cover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 5;
  background-color: rgb(255, 187, 0);
}

.ani.cover.moving:after {
  height: 0;
  transition: all 0.8s ease-in-out;
}
.ani.cover2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  opacity: 0.8;
  z-index: 5;
  background-color: #b2b2b2;
}
.ani.cover2.moving:after {
  height: 0;
  transition: all 0.8s ease-in-out;
}
